<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 写的是Dao接口的路径 -->
<mapper namespace="com.kaciry.mapper.UserMapper">

    <resultMap id="user" type="com.kaciry.entity.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryUserById" parameterType="com.kaciry.entity.User" resultType="com.kaciry.entity.User">
        select id,name,sex from mybatis where id= #{id}
    </select>

    <select id="findAll" parameterType="com.kaciry.entity.User" resultType="com.kaciry.entity.User">
        select id,name,sex from mybatis
    </select>

    <insert id="insertUserInfo" parameterType="com.kaciry.entity.User">
        insert into mybatis(name,sex) values (#{name},#{sex})
    </insert>

    <delete id="deleteUserById" parameterType="com.kaciry.entity.User">
        delete mybatis where id = #{id}
    </delete>

    <update id="updateUserInfo" parameterType="com.kaciry.entity.User">
        update mybatis set name = #{name} where id = #{id}
    </update>
</mapper>